@import url("https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic");
@import url("https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css");

html {
    color-scheme: dark;
    overflow-x: hidden;
    user-select: none;
}

header {
    padding: 10px;

    & h1 {
        display: inline;
        float: left;
    }

    & img {
        width: 48px;
        float: right;
    }

}

main {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & img#cover {
        width: 256px;
        max-width: 256px;
    }
}

.ocultar {
    display: none;
}

.color-blanco {
    color: white;
}

.color-rojo {
    color: red;
}

.vumeter {
    border: 1px solid black;
    background-color: black;
    filter: none;
    text-align: center;
    margin-top: 10px;
    width: 400px;

    & p {
        margin-top: 20px;
        margin-bottom: 6px;
    }

    & img {
        width: 300px;
    }
}

.vumeter:hover {
    filter: none;
}

.playlist {
    padding: 4px;
    height: 140px;
    min-width: 400px;
    max-width: 700px;
    /* margin-top: 20px; */
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid black;

    & p {
        cursor: pointer;
        font-size: small;
        text-transform: uppercase;
    }

    & p:hover {
        color: white;
    }

    & input[type=range] {
        width: 700px;
    }
}

footer.player {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: #333;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 48px;
    padding: 30px;

    & img {
        width: 48px;
        height: auto;
    }

    & img:hover {
        filter: brightness(80%);
    }

    & img:active {
        filter: brightness(110%);
    }
      
    & img#play {
        border-radius: 50%;
        background-color: #333;
        position: relative;
        padding: 10px;
        width: 96px;
        height: 96px;
        bottom: 16px;
    }
}

.font-bold {
    color: white;
    font-weight: 700;
}

.progress-container {
    margin-top: 10px;
    width: 400px; 
    height: 6px; 
    background-color: #333;
    border-radius: 10px;
  }

  .progress-bar {
    width: 0%; 
    height: 100%;
    background-color: #059cfb;
    border-radius: 10px;
    transition: width 0.1s ease-in-out;
  }

@media (width < 480px) {
    header {
        display: none;
    }

    main {
        margin-top: 0;
    }

    .vumeter {
        height: 200px;
        & img {
            width: 280px;
        }
    }

    .playlist {
        margin-top: 0;
    }
}